@using MudBlazor.Utilities
@typeparam T

<ul>
    <Virtualize Items="viewList" ItemSize="40" Context="viewListItem">
        <li @key="@(viewListItem.Key)" style="flex-shrink:0;margin-left:@(viewListItem.Level * 32)pt;height:30pt;" class="@(ListItemClassname())">
            <div class="@(ContentClassname(false))">
                <MudTreeViewItemToggleButton Visible="ChildrenSelector?.Invoke(viewListItem.Item)?.Count > 0" Expanded="@viewListItem.IsExpanded" ExpandedChanged="newIsExpanded => OnClick(newIsExpanded, viewListItem)" />
                @if (ItemTemplate == null)
                {
                    @viewListItem.Item
                }
                else
                {
                    @ItemTemplate(viewListItem.Item)
                }
            </div>
        </li>
    </Virtualize>
</ul>

@code {
    protected string ListItemClassname() =>
        new CssBuilder("mud-treeview-item")
            .Build();

    protected string ContentClassname(bool isSelected) =>
        new CssBuilder("mud-treeview-item-content")
            .AddClass("cursor-pointer", false)
            .AddClass("mud-treeview-item-selected", isSelected)
            .Build();
}